{#**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 *#}
{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% import '@PrestaShop/Admin/macros.html.twig' as ps %}
{% trans_default_domain "Modules.Resursbank.Core.Config" %}
{% form_theme form 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr' : {'class': 'form'} }) }}
    <div class="row justify-content-center">
        {% block resursbank_core_api_config %}
            <div class="col-xl-10">
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">api</i> {{ 'API'|trans }}
                    </h3>
                    <div class="card-block row">
                        <div class="card-text">
                            {{ form_row(form.api.flow) }}
                            {{ form_row(form.api.environment) }}

                            <div class="form-group row">
                                <label class="form-control-label"></label>
                                <div class="col-sm" style="font-weight: bold; margin: 20px 0 0;">
                                    Test credentials
                                </div>
                            </div>

                            {{ form_row(form.api.username_1) }}
                            {{ form_row(form.api.password_1) }}
                            <div class="form-group row">
                                <label class="form-control-label"></label>
                                <div class="col-sm">
                                    {% if validateTestCredentials is same as(true) %}
                                        <div class="alert alert-success" role="alert">
                                            <div class="alert-text">
                                                <p>API connection succeeded.</p>
                                            </div>
                                        </div>
                                    {% else %}
                                      {% if hasTestCredentials is same as (true) %}
                                        <div class="alert alert-danger" role="alert">
                                            <div class="alert-text">
                                              {% if timeoutTestException is same as (false) %}
                                                <p>API connection failed.</p>
                                                {% else %}
                                                <p>API connection timed out.</p>
                                              {% endif %}
                                            </div>
                                        </div>
                                      {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label"></label>
                                <div class="col-sm" style="font-weight: bold;">
                                    Production credentials
                                </div>
                            </div>

                            {{ form_row(form.api.username_0) }}
                            {{ form_row(form.api.password_0) }}
                            <div class="form-group row">
                                <label class="form-control-label"></label>
                                <div class="col-sm">
                                    {% if validateProdCredentials is same as(true) %}
                                        <div class="alert alert-success" role="alert">
                                            <div class="alert-text">
                                                <p>API connection succeeded.</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if hasProdCredentials is same as (true) %}
                                            <div class="alert alert-danger" role="alert">
                                                <div class="alert-text">
                                                  {% if timeoutProdException is same as (false) %}
                                                    <p>API connection failed.</p>
                                                  {% else %}
                                                    <p>API connection timed out.</p>
                                                  {% endif %}
                                                </div>
                                            </div>
                                      {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" style="margin-right:10px;" href="{{ path('resursbank_admin_sync') }}">{{ 'Sync data'|trans }}</a>
                            <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="col-xl-10">
            <div class="card">
                <h3 class="card-header">
                    <i class="material-icons">payment</i> {{ 'Payment Methods'|trans }}
                </h3>
                <div class="card-block row">
                    <div class="card-text">
                        {% if paymentMethods is empty %}
                            Payment methods will be displayed when synced.
                        {% else %}
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 55%; padding: .75rem 0; text-align: left; border-bottom: 2px solid #dee2e6;">
                                        {{ 'Name'|trans }}
                                    </th>
                                    <th style="width: 20%; padding: .75rem 0; text-align: right; border-bottom: 2px solid #dee2e6;">
                                        {{ 'Min total'|trans }}
                                    </th>
                                    <th style="width: 25%; padding: .75rem 0; text-align: right; border-bottom: 2px solid #dee2e6;">
                                        {{ 'Max total'|trans }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for method in paymentMethods %}
                                <tr>
                                    <td style="padding: .75rem 0; border-bottom: 1px solid #dee2e6;">
                                        {{ method.getTitle() }}
                                    </td>
                                    <td style="padding: .75rem 0; text-align: right; border-bottom: 1px solid #dee2e6;">
                                        {{ method.getMinOrderTotal() }}
                                    </td>
                                    <td style="padding: .75rem 0; text-align: right; border-bottom: 1px solid #dee2e6;">
                                        {{ method.getMaxOrderTotal() }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block resursbank_core_advanced_config %}
            <div class="col-xl-10">
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">build</i> {{ 'Advanced Settings'|trans }}
                    </h3>
                    <div class="card-block row">
                        <div class="card-text">
                            {% block resursbank_core_advanced_config_form %}
                                {{ form_widget(form.advanced) }}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
