/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/**
    The main read more element.
 */
.psrbcore-read-more {
    font-size: 1rem;
    font-family: 'ResursSans-Regular', Arial, sans-serif;
    margin: 20px 0;
}

.psrbcore-read-more .psrbcore-read-more-logo {
    width: 16%;
}

/**
    The information about the read more component.
 */
.psrbcore-read-more > .psrbcore-info-container,
.psrbcore-read-more > .psrbcore-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/**
    The link that fetches additional information.
 */
.psrbcore-read-more > .psrbcore-info-container > .psrbcore-read-more {
    margin-top: 10px;
}
