/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/*
    Custom fonts.
*/
@font-face {
    font-family: 'ResursSans-Regular';
    src: url('../font/ResursSans-Regular.woff2') format('woff2'),
    url('../font/ResursSans-Regular.woff') format('woff'),
    url('../font/ResursSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ResursSans-Bold';
    src: url('../font/ResursSans-Bold.woff2') format('woff2'),
    url('../font/ResursSans-Bold.woff') format('woff'),
    url('../font/ResursSans-Bold.ttf') format('truetype');
}

.remodal-wrapper .remodal {
    text-align: left;
}

.psrbcore-modal {
    width: 100%;
    max-width: 1024px;
}

/*  <p> that couldn't be reached otherwise and needed some space. */
.psrbcore-modal .main-container .main .col-main p {
    margin-top: 10px;
}

/*  Text above and below the table.
    ------------------------------------------------------------ */
.psrbcore-modal .headText,
.psrbcore-modal .tailText {
    display: inline-block;
}

.psrbcore-modal .headText {
    margin-bottom: 10px;
}

.psrbcore-modal .tailText {
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
}

/*  The table.
    ------------------------------------------------------------ */
.psrbcore-modal table.priceTable {
    width: 100%;
}

.psrbcore-modal table.priceTable tbody tr td {
    padding: 15px 0;
}

/*  First column in table. */
.psrbcore-modal table.priceTable tbody tr td.header {
    padding-left: 15px;
}

.psrbcore-modal .oddRow {
    background-color: #F4F4F4;
}

.psrbcore-modal-loader {
    border: 0 solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    animation: resursbank_spin 1s linear infinite;
}

@keyframes resursbank_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes resursbank_fade_out {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.resursbank-hide {
    display: none;
}
